/* Estilos generales */

:root {
  --var-negro: rgb(0, 0, 0);
  --var-blanco: rgb(255, 255, 255);
  --var-verde: rgb(64, 195, 130);
  --var-beige: rgb(242, 242, 230);
  --var-beige-modificado: rgba(242, 242, 230, 0.7);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans";
}

body {
  background-color: var(--var-beige);
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--var-negro);
}

a::after {
  text-decoration: none;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: var(--var-blanco);
  width: 100%;
}

img {
  width: 200px;
}

nav {
  display: flex;
}

.nav-principal a {
  font-size: 18px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  font-weight: 600;
}

.tema::after {
  content: "|";
  position: relative;
  padding-inline: 15px;
}

nav a:hover {
  color: var(--var-verde);
}

footer {
  background: var(--var-negro);
  width: 100%;
  color: var(--var-blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px;
}

footer a {
  color: var(--var-blanco);
  transition: all .2s ease-in-out;
}

footer a:hover {
  color: var(--var-verde);
}

.footer-left, .footer-politics{
  font-size: 12px;
}

.footer-left img {
  padding-bottom: 10px;
  width: 140px;
}

footer a img {
  width: 20px;
}

.footer-social {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 15px;
}

.footer-social a:hover img {
  opacity: 0.7;
}

.footer-politics a:after {
  content: "|";
  padding-inline: 5px;
}

.footer-politics a:last-child::after {
  content: "";
}


/* Index */

h1 { 
  font-size: 82px;
}

.subtitulo {
  font-size: 48px;
}

.background-section-index {
  position: relative;
  background-image: url(/img/hero-image-home.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 525px;
  background-position: center;
  flex-direction: column;
  color: var(--var-blanco);
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: -12px;  
}

.fuente {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: var(--var-negro);
  background-color: var(--var-beige-modificado);
  padding: 10px;
  font-size: 14px;
}

p a {
  border-bottom: 1px dotted;
}

p a:hover {
  border-bottom: 1px solid;
}

main {
  width: 1140px;
  margin: auto;
}

h2 {
  padding-block: 50px 35px;
  font-size: 40px;
}

.intro {
  display: flex;
  padding-bottom: 100px;
  gap: 115px;
}

main p {
  line-height: 1.6;
  font-size: 24px;
}

.first-article {
  width: 60%;
}

.form-article {
  margin-top: 132px;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form label {
  font-size: 16px;
  margin: 0;
}

form input {
  outline: none;
  border: none;
  padding: 10px;
}

form input:focus {
  border: 1px solid var(--var-negro);
}

.form-article .politica-privacidad {
  font-size: 14px;
}

form div {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: start;
}

input[type=submit] {
  background-color: transparent;
  border: 1px solid var(--var-negro);
  display: block;
  font-size: 18px;
  width: 110px;
  margin-top: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.historias p {
  padding-right: 30px;
}

.historias div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 100px;
}

.bloque {
  position: relative;
  margin-top: 35px;
  background-color: var(--var-blanco);
  padding: 20px;
  width: 350px;
  height: auto;
}

.bloque p {
  line-height: 1.6;
  font-size: 20px;
  margin-top: 20px;
  padding-right: 18px;
  margin-bottom: 50px;
}

.bloque h3 {
  font-size: 26px;
  font-weight: 600;
}

.mas {
  position: absolute;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--var-negro);
  bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  transition: all .2s ease-in-out;
}

.mas:hover, input[type="submit"]:hover {
  border: 1px solid var(--var-verde)
}

/* Tema del mes */

h1 span {
  background-color: var(--var-verde);
  color: var(--var-blanco);
  padding-inline: 20px;
}

.content {
  display: flex;
}

aside nav {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding: 60px 100px 0 50px;
  margin-right: 100px;
}

aside nav ul li {
  list-style: none;
}

aside nav ul li a {
  text-transform: capitalize;
  transition: all .2s ease-in-out;
}

.tema-titulo {
  text-align: center;
  padding: 20px;
}

.tema-subtitulo {
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
}

.tema-content {
  width: 100%;
}

.lista-animales article {
  display: flex;
  padding: 50px;
}

.numeracion {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.lista-animales article div {
  width: 300px;
  margin-left: 50px;
  margin-right: 40px;
}

.nombre-animal {
  font-size: 26px;
}
.estado {
  font-size: 14px;
}

figure {
  width: 400px;
  justify-content: center;
}

figure img {
  width: 400px;
  border: 10px solid var(--var-blanco);
}

figure figcaption p {
  font-size: 12px;
}

.descripcion {
  flex: 1;
  margin-left: 40px;
}

.descripcion p {
  font-size: 20px;
}

/* Blog */

.content-blog {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: 60px;
}

.content-blog h1 {
  padding-block: 50px 60px;
  text-align: center;
}

.content-blog section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
}

.content-blog section article {
  height: 100%;
  position: relative;
}

.content-blog section article .mas {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.content-blog h3 {
  font-size: 28px;
  padding-block: 5px;
  transition: all .2s ease-in-out;
}

.content-blog h3 a {
  transition: all .2s ease-in-out;
}

.content-blog h3 a:hover {
  color: var(--var-verde);
}

.content-blog p {
  font-size: 21px;
}

.content-blog section div {
  position: relative;
  padding: 0;
}

.content-blog section div img{
  width: 100%;
}

.content-blog section div p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: var(--var-beige-modificado);
}

.content-blog article {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.content-blog h3, .content-blog p {
  margin-inline: 15px;
}

.autora {
  font-size: 16px;
  margin-block: 20px 100px;
}

.paginado {
  padding-block: 70px 90px;
  text-align: center;
}

.paginado a {
  background-color: var(--var-blanco);
  border: 1px solid var(--var-negro);
  padding: 5px 10px;
  margin-inline: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.paginado a:first-child, .paginado a:hover {
  background-color: var(--var-verde);
  color: var(--var-blanco);
  border: 1px solid var(--var-verde);
}

abbr {
  cursor: help;
}

/* Post */

.introduccion {
  width: 1140px;
  margin: auto;
}

.introduccion h1 {
  font-size: 68px;
  margin-bottom: 20px;
}

.introduccion p {
  padding-block: 20px;
}

.introduccion p:last-child {
  font-size: 22px;
}

.barra-navegacion ul {
  display: flex;
  list-style: none;
  padding-block: 30px 40px;
  font-size: 16px;
}

.barra-navegacion ul li::after {
  content:">";
  font-size: 16px;
  margin-inline: 5px;
}

.barra-navegacion ul li:last-child::after {
  content:"";
}
.barra-navegacion a {
  transition: all .2s ease-in-out;
}
.barra-navegacion a:hover {
  color: var(--var-verde);
}

.background-section-post {
  background-image: url(./img/post-fast-fashion.jpg);
  height: 500px;
  background-size:cover;
  background-position: center;
  margin-left: 0;
  position: relative;
}

.content-post {
  margin-top: 50px;
}

.content-post section p {
  font-size: 21.5px;
}

.content-post section p:first-child {
  margin-bottom: 20px;
  font-size: 33px;
}

.content-post section article h2 {
  padding-block: 20px 15px;
}

figcaption {
  font-size: 14px;
}

.video-article figure {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}

.video-article iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}

.content-post ol {
  padding-left: 35px;
}

.content-post ol li {
  font-size: 20px;
  padding-top: 10px;
}

.intereses {
  border-top: 1px solid var(--var-negro);
  padding-top: 50px;
  padding-inline: 50px;
  margin-top: 50px;
}

.intereses h3 {
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 10px;
}

.intereses-imagenes {
  display: grid;
  gap: 50px;
  margin-bottom: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.intereses-imagenes article {
  background-color: var(--var-blanco);
  position: relative;
  height: 450px;
}

.intereses-imagenes article div {
  position: relative;
}

.intereses-imagenes article img {
  width: 100%;
}

.titulo-interes {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

.titulo-interes a {
  border-bottom: none;
}

.intereses-imagenes article .mas {
  left: 15px;
  bottom: 15px;
}

.fuente-interes {
  font-size: 12px;
  padding: 0;
  padding-block: 8px;
  padding-inline: 8px;
}

@media (width <= 1024px) {

  header, nav {
    flex-direction: column;
    text-align: center;
  }

  .text h1 {
    font-size: 70px;
  }

  .subtitulo {
    padding-inline: 30px;
  }

  nav a {
    margin-block: 5px;
  }

  .tema:after {
    content: "";
    padding: 0;
  }
  
  main {
    width: 100%;
    padding-inline: 10px;
  }
  
  .content-index h2 {
    font-size: 32px;
  }

  main p {
    font-size: 18px;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
  }

  .form-article {
    margin-top: 0;
    width: 100%;
  }

  .first-article {
    width: 100%;
  }

  input {
    width: 60%;
  }

  form div input{
    width: 2%;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .bloque p {
    line-height: 1.6;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 0;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-social {
    margin-block: 10px;
    padding: 0;
    justify-content: center;

  }

  .footer-politics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-politics a {
    padding-block: 5px;
  }

  .footer-politics a::after {
    content: "";
  }

  .tema-titulo {
    font-size: 36px;
  }

  .tema-subtitulo {
    font-size: 30px;
  }

  .content {
    flex-direction: column;
  }

  aside nav {
    padding: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  aside nav ul {
    display: flex;
    justify-content: center;    
  }
  
  aside nav ul li::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 100%; 
    background-color: var(--var-verde);
    vertical-align: middle;
  }

  aside nav ul li:last-child:after {
    width: 0px;
    height: 0px;
  }

  aside nav ul li a {
    padding: 4px;
  }

  .lista-animales article {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  figure {
    width: 100%;
    justify-content: center;
  }

  figure img {
    width: 100%;
  }

  .descripcion p:first-child {
    margin-block: 10px;
  }

  .tema-content {
    padding-inline: 10px;
  }

  .lista-animales article {
    margin-bottom: 50px;
  }
  
  .lista-animales article div {
    margin-left: 0;
  }
  
  .lista-animales article:last-child {
    margin-bottom: 100px;
  }

  .lista-animales article div:last-child p {
    font-size: 17px;
  }

  .lista-animales article div {
    width: 100%;
    margin: 0;
  }

  .content-blog h1 {
    font-size: 44px;
  }
  .content-blog section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .content-blog {
    padding-inline: 20px;
  }

  .introduccion {
    padding-left: 10px;
    width: 100%;
  }

  .intereses {
    padding: 20px;
    padding-top: 50px;
  }

  .introduccion h1 {
    font-size: 40px;
  }

  .intereses-imagenes {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .intereses-imagenes article {
    height: 475px;
  }
}

@media (width <= 430px) {

  input {
    width: 100%;
  }

  form div input{
    width: 20px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .historias div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 100px;
  }

  h1 span {
    padding-block: 5px;
  }
  .tema-titulo {
    padding-inline: 100px;
  }

  aside nav {
    padding: 0px;
  }

  aside nav ul li a {
    font-size: 12px;
    padding: 4px;
  }

  .content-blog section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .content-blog h1 {
    font-size: 38px;
    padding-block: 30px 35px;
  }

  .content-blog section article p {
    font-size: 16px
  } 

  .intereses-imagenes {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .intereses-imagenes article {
    height: 375px;
  }
  
  .intereses-imagenes article:nth-child(3) {
    height: 400px;
  }

  .titulo-interes {
    font-size: 18px;
  }

  .video-article figure {
    max-width: 100%;
  }

  .content-post section p:first-child {
    font-size: 24px;
  }

  .content-post ol li, p  {
  font-size: 16px;
  padding-top: 10px;
  }

}
